<strong>Hi, {{provider}}</strong>
<p>There was a cancellation as below</p>
<strong>Customer:</strong> {{ user }} <br />
  <strong>Date/hour:</strong> {{ date }} <br />
  <br />
  <small>
    Available appointment!
  </small>
</p>